* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    overflow: hidden;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: #D5E1EF;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.4rem;

    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.0476518);
    padding: 1.6rem;
    border-radius: 2rem;
    background-color: white;
    width: 32rem;
    height: 49.7rem;
}

.card--img {
    max-width: 100%;
    border-radius: 1rem;
}

.card--text-box {
    font-family:"Outfit";
    font-style: normal;
    text-align: center;
}

.card--header {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: #1F314F;
    margin-bottom: 1.6rem;
}

.card--text {
    margin: 0 1.6rem 2.4rem 1.6rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: #7D889E;
    letter-spacing: 0.01875rem;
}
  